In [5]:
import pandas as pd
import numpy as np

file_path = 'C:\\Users\\Andrea\\Documents\\DATA\\Mid-bootcamp project\\Exploratory\\performance_f.csv'
data1 = pd.read_csv(file_path)
file_path = 'C:\\Users\\Andrea\\Documents\\DATA\\Mid-bootcamp project\\Exploratory\\performance_g.csv'
data2 = pd.read_csv(file_path)
file_path = 'C:\\Users\\Andrea\\Documents\\DATA\\Mid-bootcamp project\\Exploratory\\performance_i.csv'
data3 = pd.read_csv(file_path)

In [6]:
data1.T

                                0
total_impressions_f    4233999.00
total_clicks_f          370227.00
ctr_f                        8.74
total_interactions_f    963191.00
total_investment_f       72434.00
Cost_impression_f            0.02
Cost_clicks_f                0.20
Cost_interactions_f          0.08
Profit_impression_f          0.09
Profit_clicks_f              1.04
Profit_interactions_f        0.40
ROI_f                      433.98

In [7]:
data2.T

                                0
total_impressions_g    9948189.00
total_clicks_g         1752919.00
ctr_g                       17.62
total_interactions_g   1024895.00
total_investment_g      149355.00
Cost_impression_g            0.02
Cost_clicks_g                0.09
Cost_interactions_g          0.15
Profit_impression_g          0.03
Profit_clicks_g              0.19
Profit_interactions_g        0.32
ROI_g                      121.86

In [8]:
data3.T

                                0
total_impressions_i    4215066.00
total_clicks_i          336223.00
ctr_i                        7.98
total_interactions_i    818786.00
total_investment_i       86429.00
Cost_impression_i            0.02
Cost_clicks_i                0.26
Cost_interactions_i          0.16
Profit_impression_i          0.10
Profit_clicks_i              1.31
Profit_interactions_i        0.54
ROI_i                      408.70

In [9]:
performance = pd.concat([data1, data2, data3], axis=1)
performance

,total_impressions_f,total_clicks_f,ctr_f,total_interactions_f,total_investment_f,Cost_impression_f,Cost_clicks_f,Cost_interactions_f,Profit_impression_f,Profit_clicks_f,...,ctr_i,total_interactions_i,total_investment_i,Cost_impression_i,Cost_clicks_i,Cost_interactions_i,Profit_impression_i,Profit_clicks_i,Profit_interactions_i,ROI_i
0,4233999,370227,8.74,963191,72434,0.02,0.2,0.08,0.09,1.04,...,7.98,818786,86429,0.02,0.26,0.16,0.1,1.31,0.54,408.7

In [10]:
performance.dtypes

total_impressions_f        int64
total_clicks_f             int64
ctr_f                    float64
total_interactions_f       int64
total_investment_f         int64
Cost_impression_f        float64
Cost_clicks_f            float64
Cost_interactions_f      float64
Profit_impression_f      float64
Profit_clicks_f          float64
Profit_interactions_f    float64
ROI_f                    float64
total_impressions_g        int64
total_clicks_g             int64
ctr_g                    float64
total_interactions_g       int64
total_investment_g         int64
Cost_impression_g        float64
Cost_clicks_g            float64
Cost_interactions_g      float64
Profit_impression_g      float64
Profit_clicks_g          float64
Profit_interactions_g    float64
ROI_g                    float64
total_impressions_i        int64
total_clicks_i             int64
ctr_i                    float64
total_interactions_i       int64
total_investment_i         int64
Cost_impression_i        float64
Cost_clicks_i            float64
Cost_interactions_i      float64
Profit_impression_i      float64
Profit_clicks_i          float64
Profit_interactions_i    float64
ROI_i                    float64
dtype: object

In [12]:
total_impressions_sum = performance['total_impressions_i'] + performance['total_impressions_g'] + performance['total_impressions_f']
total_interactions_sum = performance['total_interactions_i'] + performance['total_interactions_g'] + performance['total_interactions_f']
total_clicks_sum = performance['total_clicks_i'] + performance['total_clicks_g'] + performance['total_clicks_f']
total_investment_sum = performance['total_investment_i'] + performance['total_investment_g'] + performance['total_investment_f']
ROI_total = performance['ROI_i'] + performance['ROI_g'] + performance['ROI_f'] 
print(total_impressions_sum)
print(total_interactions_sum)
print(total_clicks_sum)
print(total_investment_sum)
print(ROI_total)

0    18397254
dtype: int64
0    2806872
dtype: int64
0    2459369
dtype: int64
0    308218
dtype: int64
0    964.54
dtype: float64

In [13]:
for category in ['i', 'g', 'f']:
    impressions_ratio = performance[f'total_impressions_{category}'] / total_impressions_sum
    print(f'i_imp_rate {category}: {impressions_ratio}')

i_imp_rate i: 0    0.229114
dtype: float64
i_imp_rate g: 0    0.540743
dtype: float64
i_imp_rate f: 0    0.230143
dtype: float64

In [14]:
# Interactions_ratio 
for category in ['i', 'g', 'f']:
    interactions_ratio = performance[f'total_interactions_{category}'] / total_interactions_sum
    print(f'interactions_ratio {category}: {interactions_ratio}')

interactions_ratio i: 0    0.291708
dtype: float64
interactions_ratio g: 0    0.365138
dtype: float64
interactions_ratio f: 0    0.343155
dtype: float64

In [15]:
for category in ['i', 'g', 'f']:
    clicks_ratio = performance[f'total_clicks_{category}'] / total_clicks_sum
    print(f'clicks_ratio {category}: {clicks_ratio}')

clicks_ratio i: 0    0.136711
dtype: float64
clicks_ratio g: 0    0.712752
dtype: float64
clicks_ratio f: 0    0.150537
dtype: float64

In [17]:
for category in ['i', 'g','f']:
    Investment_ratio = performance[f'total_investment_{category}'] / total_investment_sum
    print(f'Investment_ratio {category}: {Investment_ratio}')

Investment_ratio i: 0    0.280415
dtype: float64
Investment_ratio g: 0    0.484576
dtype: float64
Investment_ratio f: 0    0.235009
dtype: float64

In [ ]:
Investment_ratio_g = performance['total_spent_g']/ total_investment_sum
Investment_ratio_g

In [ ]:
data = pd.DataFrame({
    'Category': ['f', 'g', 'i'],
    'total_impressions': [4233999.00, 9948189.00, 4215066.00],
    'total_clicks': [370227.00, 1752919.00, 336223.00],
    'ctr': [8.74, 17.62, 7.98],
    'total_interactions': [963191.00, 1024895.00, 818786.00],
    'total_investment': [72434.00, 149355.00, 86429.00],
    'cost_impression': [58.45, 66.60, 48.77],
    'cost_clicks': [5.11, 11.73, 3.89],
    'cost_interactions': [13.29, 6.86, 9.47],
    'ROI': [433.98, 121.86, 408.70]
})

In [ ]:
from sklearn.preprocessing import MinMaxScaler

# Seleccionar las columnas numéricas para normalizar
columns_to_normalize = ['total_impressions', 'total_clicks', 'ctr', 'total_interactions', 'total_investment', 'cost_impression', 'cost_clicks', 'cost_interactions', 'ROI']

# Crear un objeto MinMaxScaler
scaler = MinMaxScaler()

# Normalizar las columnas seleccionadas
data[columns_to_normalize] = scaler.fit_transform(data[columns_to_normalize])

In [ ]:
data

In [ ]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier

# Separar las variables de entrada (X) y la variable objetivo (y)
X = data.drop(['Category'], axis=1)
y = data['Category']

# Crear y entrenar el modelo de clasificación Random Forest
model = RandomForestClassifier()
model.fit(X, y)

# Realizar predicciones para determinar la mejor categoría
predicted_category = model.predict(X)
best_category = predicted_category[0]

print("La mejor categoría es:", best_category)

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

X = data.drop(['Category'], axis=1)
y = data['Category']

# Dividir los datos en conjuntos de entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

# Crear y entrenar el modelo de Árboles de Decisión
model = DecisionTreeClassifier()
model.fit(X_train, y_train)

# Realizar predicciones en el conjunto de prueba
y_pred = model.predict(X_test)

# Calcular la precisión del modelo
accuracy = accuracy_score(y_test, y_pred)
print("Precisión del modelo:", accuracy)

In [ ]:
y_pred

In [ ]:
import pandas as pd
from sklearn.svm import SVC

# Crear el dataframe con los datos normalizados
data = pd.DataFrame({
    'Category': ['f', 'g', 'i'],
    'total_impressions': [0.003302, 1.000000, 0.000000],
    'total_clicks': [0.024002, 1.000000, 0.000000],
    'ctr': [0.078838, 1.000000, 0.000000],
    'total_interactions': [0.700624, 1.000000, 0.000000],
    'total_investment': [0.000000, 1.000000, 0.181940],
    'cost_impression': [0.542905, 1.000000, 0.000000],
    'cost_clicks': [0.155612, 1.000000, 0.000000],
    'cost_interactions': [1.000000, 0.000000, 0.405910],
    'ROI': [1.000000, 0.000000, 0.919006]
})

# Separar las variables de entrada (X) y la variable objetivo (y)
X = data.drop(['Category'], axis=1)
y = data['Category']

# Crear y entrenar el modelo de clasificación SVM
model = SVC()
model.fit(X, y)

# Realizar predicciones para determinar la mejor categoría
predicted_category = model.predict(X)
best_category = predicted_category[0]

print("La mejor categoría es:", best_category)

In [ ]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

# Crear el dataframe con los datos normalizados
data1 = pd.DataFrame({
    'Category': ['f', 'g', 'i'],
    'total_impressions': [0.003302, 1.000000, 0.000000],
    'total_clicks': [0.024002, 1.000000, 0.000000],
    'ctr': [0.078838, 1.000000, 0.000000],
    'total_investment': [0.000000, 1.000000, 0.181940],
})

# Separar las variables de entrada (X) y la variable objetivo (y)
X = data1.drop(['Category'], axis=1)
y = data1['Category']

# Crear y entrenar el modelo de clasificación Árboles de Decisión
model = DecisionTreeClassifier()
model.fit(X, y)

# Realizar predicciones para determinar la mejor categoría
predicted_category = model.predict(X)
best_category = predicted_category[0]

print("La mejor categoría es:", best_category)