In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv('LIA -Whatsapp - Stadistics -DA.csv')
display(data.shape)
data.head()

(169, 13)

,chat_started,chat_ended,client_id,Active_day,Sell_complete,Chat_time,Share_image,Share_PDF,Share_link,Voice_message,Product,Product_price,Revenue
0,21/08/2022,05/09/2022,560,Thrusday,No,13,Yes,No,No,No,NaN,NaN,NaN
1,14/07/2022,19/07/2022,561,Monday,No,41,Yes,No,Yes,Yes,NaN,NaN,NaN
2,29/12/2022,09/01/2023,562,Monday,Yes,47,Yes,No,Yes,Yes,Rubí,1900.0,1900.0
3,9/10/2022,5/11/2022,563,Friday,Yes,42,Yes,No,Yes,Yes,Diamante,2800.0,2800.0
4,19/08/2022,04/09/2022,564,Thrusday,Yes,46,Yes,Yes,No,Yes,Rubí,1900.0,1900.0

In [2]:
#Check type
data.dtypes

chat_started      object
chat_ended        object
client_id          int64
Active_day        object
Sell_complete     object
Chat_time          int64
Share_image       object
Share_PDF         object
Share_link        object
Voice_message     object
Product           object
Product_price    float64
Revenue          float64
dtype: object

In [3]:
#Check nulls values
data.isna().sum()

chat_started      0
chat_ended        0
client_id         0
Active_day        0
Sell_complete     0
Chat_time         0
Share_image       0
Share_PDF         0
Share_link        0
Voice_message     0
Product          59
Product_price    59
Revenue          59
dtype: int64

In [4]:
round(data.isna().sum()/len(data),4)*100

chat_started      0.00
chat_ended        0.00
client_id         0.00
Active_day        0.00
Sell_complete     0.00
Chat_time         0.00
Share_image       0.00
Share_PDF         0.00
Share_link        0.00
Voice_message     0.00
Product          34.91
Product_price    34.91
Revenue          34.91
dtype: float64

In [5]:
data.nunique()

chat_started     117
chat_ended       120
client_id        169
Active_day         5
Sell_complete      2
Chat_time         51
Share_image        2
Share_PDF          2
Share_link         2
Voice_message      2
Product            2
Product_price      2
Revenue            2
dtype: int64

# What are my cleanning actions

Column | Action
-------|-------
chat_started | Convert the date into days & Pick the day of the date
chat_ended | Convert the date into days & Pick the day of the date
Active_day | correct days & Change for a number
client_id  | Drop it, it's not necesary
Product  | Fill nan with the mode 
Product_price |Fill the price with the product price picked with the mode & Convert it into Int
Revenue | Do the operation to get the revenue & Convert it into Int
Columns | Standardize column names
Columns | Reorder
----| -----

In [6]:
# chat_started

import datetime
import calendar

def leap_day_counter(year):
    leap_days = 0
    # Since 1582, 11 days are missing
    if year >= 1582:
        leap_days += 11
    for specific_year in range(1, year):
        if calendar.isleap(specific_year):
            leap_days += 1
    return leap_days

def month_to_day(year, month):
    all_days = 0
    for specific_month in range(1, month + 1):
        days_in_month = calendar.monthrange(year, specific_month)
        all_days += days_in_month[1]
    return all_days

reference_date = datetime.datetime(2022, 1, 1)  # Reference date (January 1, 2022)

# Create a new list to store the elapsed days
chat_started_days = []

# Iterate over the dates in data['chat_started']
for date_str in data['chat_started']:
    date = datetime.datetime.strptime(date_str, '%d/%m/%Y')  # Convert the string to a datetime object
    days_passed = (
        (date.year - reference_date.year) * 365
        + leap_day_counter(date.year)
        - leap_day_counter(reference_date.year)
        + month_to_day(date.year, date.month)
        - month_to_day(reference_date.year, reference_date.month)
        + date.day
        - reference_date.day
    )
    chat_started_days.append(days_passed)

# Add the list of elapsed days as a new column in data
data['chat_started_days'] = chat_started_days

In [7]:
#chat_ended

import datetime
import calendar

def leap_day_counter(year):
    leap_days = 0
    # Since 1582, 11 days are missing
    if year >= 1582:
        leap_days += 11
    for specific_year in range(1, year):
        if calendar.isleap(specific_year):
            leap_days += 1
    return leap_days

def month_to_day(year, month):
    all_days = 0
    for specific_month in range(1, month + 1):
        days_in_month = calendar.monthrange(year, specific_month)
        all_days += days_in_month[1]
    return all_days

reference_date = datetime.datetime(2022, 1, 1)  # Reference date (January 1, 2022)

# Create a new list to store the elapsed days
chat_ended_days = []

# Iterate over the dates in data['chat_started']
for date_str in data['chat_ended']:
    date = datetime.datetime.strptime(date_str, '%d/%m/%Y')  # Convert the string to a datetime object
    days_passed = (
        (date.year - reference_date.year) * 365
        + leap_day_counter(date.year)
        - leap_day_counter(reference_date.year)
        + month_to_day(date.year, date.month)
        - month_to_day(reference_date.year, reference_date.month)
        + date.day
        - reference_date.day
    )
    chat_ended_days.append(days_passed)

# Add the list of elapsed days as a new column in data
data['chat_ended_days'] = chat_ended_days

In [8]:
# Confirming columns in my DF
data

,chat_started,chat_ended,client_id,Active_day,Sell_complete,Chat_time,Share_image,Share_PDF,Share_link,Voice_message,Product,Product_price,Revenue,chat_started_days,chat_ended_days
0,21/08/2022,05/09/2022,560,Thrusday,No,13,Yes,No,No,No,NaN,NaN,NaN,232,246
1,14/07/2022,19/07/2022,561,Monday,No,41,Yes,No,Yes,Yes,NaN,NaN,NaN,194,199
2,29/12/2022,09/01/2023,562,Monday,Yes,47,Yes,No,Yes,Yes,Rubí,1900.0,1900.0,362,373
3,9/10/2022,5/11/2022,563,Friday,Yes,42,Yes,No,Yes,Yes,Diamante,2800.0,2800.0,281,307
4,19/08/2022,04/09/2022,564,Thrusday,Yes,46,Yes,Yes,No,Yes,Rubí,1900.0,1900.0,230,245
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164,21/10/2022,31/10/2022,724,Thrusday,Yes,51,Yes,No,No,No,Diamante,2800.0,2800.0,293,303
165,10/12/2022,31/12/2022,725,Tuesday,Yes,26,Yes,Yes,Yes,Yes,Rubí,1900.0,1900.0,343,364
166,30/07/2022,07/08/2022,726,Friday,Yes,49,Yes,Yes,Yes,Yes,Rubí,1900.0,1900.0,210,218
167,14/07/2022,19/07/2022,727,Friday,Yes,56,No,Yes,Yes,No,Rubí,1900.0,1900.0,194,199
168,27/09/2022,25/10/2022,728,Friday,Yes,31,Yes,Yes,Yes,Yes,Rubí,1900.0,1900.0,268,297

In [9]:
#Pick the day
from datetime import datetime

chats_week_day = []

for fecha_str in data['chat_started']:
    fecha = datetime.strptime(fecha_str, '%d/%m/%Y')  # Convert the string to a datetime object
    day_number = fecha.strftime('%w')  # Retrieve the day number
    chats_week_day.append(int(day_number))

data['chats_week_day'] = chats_week_day

In [10]:
from datetime import datetime

chats_end_week_day = []

for fecha_str in data['chat_ended']:
    fecha = datetime.strptime(fecha_str, '%d/%m/%Y')  # Convert the string to a datetime object
    day_number = fecha.strftime('%w')  # Retrieve the day number
    chats_end_week_day.append(int(day_number))

data['chats_end_week_day'] = chats_end_week_day

In [11]:
data

,chat_started,chat_ended,client_id,Active_day,Sell_complete,Chat_time,Share_image,Share_PDF,Share_link,Voice_message,Product,Product_price,Revenue,chat_started_days,chat_ended_days,chats_week_day,chats_end_week_day
0,21/08/2022,05/09/2022,560,Thrusday,No,13,Yes,No,No,No,NaN,NaN,NaN,232,246,0,1
1,14/07/2022,19/07/2022,561,Monday,No,41,Yes,No,Yes,Yes,NaN,NaN,NaN,194,199,4,2
2,29/12/2022,09/01/2023,562,Monday,Yes,47,Yes,No,Yes,Yes,Rubí,1900.0,1900.0,362,373,4,1
3,9/10/2022,5/11/2022,563,Friday,Yes,42,Yes,No,Yes,Yes,Diamante,2800.0,2800.0,281,307,0,6
4,19/08/2022,04/09/2022,564,Thrusday,Yes,46,Yes,Yes,No,Yes,Rubí,1900.0,1900.0,230,245,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164,21/10/2022,31/10/2022,724,Thrusday,Yes,51,Yes,No,No,No,Diamante,2800.0,2800.0,293,303,5,1
165,10/12/2022,31/12/2022,725,Tuesday,Yes,26,Yes,Yes,Yes,Yes,Rubí,1900.0,1900.0,343,364,6,6
166,30/07/2022,07/08/2022,726,Friday,Yes,49,Yes,Yes,Yes,Yes,Rubí,1900.0,1900.0,210,218,6,0
167,14/07/2022,19/07/2022,727,Friday,Yes,56,No,Yes,Yes,No,Rubí,1900.0,1900.0,194,199,4,2
168,27/09/2022,25/10/2022,728,Friday,Yes,31,Yes,Yes,Yes,Yes,Rubí,1900.0,1900.0,268,297,2,2

In [12]:
# Check the days values
data['Active_day'].unique()

array(['Thrusday', 'Monday', 'Friday', 'Wensday', 'Tuesday'], dtype=object)

In [13]:
# Reemplace the week day correctly

def week_clean(x):
    if x in ['Thrusday']:
        return 'Thursday'
    elif x in ['Wensday']:
        return 'Wednesday'
    else:
        return x

data['Active_day'] = list(map(week_clean, data['Active_day']))
data['Active_day'].unique()

array(['Thursday', 'Monday', 'Friday', 'Wednesday', 'Tuesday'],
      dtype=object)

In [14]:
# Active_day Change for a number
import pandas as pd

# Definir el diccionario de mapeo de días
day_mapping = {
    'Monday': 1,
    'Tuesday': 2,
    'Wednesday': 3,
    'Thursday': 4,
    'Friday': 5,
    'Saturday': 6,
    'Sunday': 0
}

# Crear una nueva columna con los valores numéricos de los días
data['chat_started_day_num'] = data['Active_day'].apply(lambda x: day_mapping.get(x))

In [15]:
# Confirming columns in my DF
data

,chat_started,chat_ended,client_id,Active_day,Sell_complete,Chat_time,Share_image,Share_PDF,Share_link,Voice_message,Product,Product_price,Revenue,chat_started_days,chat_ended_days,chats_week_day,chats_end_week_day,chat_started_day_num
0,21/08/2022,05/09/2022,560,Thursday,No,13,Yes,No,No,No,NaN,NaN,NaN,232,246,0,1,4
1,14/07/2022,19/07/2022,561,Monday,No,41,Yes,No,Yes,Yes,NaN,NaN,NaN,194,199,4,2,1
2,29/12/2022,09/01/2023,562,Monday,Yes,47,Yes,No,Yes,Yes,Rubí,1900.0,1900.0,362,373,4,1,1
3,9/10/2022,5/11/2022,563,Friday,Yes,42,Yes,No,Yes,Yes,Diamante,2800.0,2800.0,281,307,0,6,5
4,19/08/2022,04/09/2022,564,Thursday,Yes,46,Yes,Yes,No,Yes,Rubí,1900.0,1900.0,230,245,5,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164,21/10/2022,31/10/2022,724,Thursday,Yes,51,Yes,No,No,No,Diamante,2800.0,2800.0,293,303,5,1,4
165,10/12/2022,31/12/2022,725,Tuesday,Yes,26,Yes,Yes,Yes,Yes,Rubí,1900.0,1900.0,343,364,6,6,2
166,30/07/2022,07/08/2022,726,Friday,Yes,49,Yes,Yes,Yes,Yes,Rubí,1900.0,1900.0,210,218,6,0,5
167,14/07/2022,19/07/2022,727,Friday,Yes,56,No,Yes,Yes,No,Rubí,1900.0,1900.0,194,199,4,2,5
168,27/09/2022,25/10/2022,728,Friday,Yes,31,Yes,Yes,Yes,Yes,Rubí,1900.0,1900.0,268,297,2,2,5

In [16]:
#Dropping client_id

data = data.drop(['client_id'], axis=1)

In [17]:
# Looks for the mode on Product
import statistics as stats
product_mode = stats.mode(data['Product'])
product_mode

nan

In [18]:
data['Product'].value_counts()

Rubí        59
Diamante    51
Name: Product, dtype: int64

In [19]:
# Replacing NaN value, I saw that my mode is nan so, I'll replacing them for the one that have more sells.

import pandas as pd

def product_fill(x):
    if pd.isna(x):
        return 'Rubí'
    else:
        return x

data['Product'] = data['Product'].apply(product_fill)

In [20]:
import pandas as pd

def Product_price_fill(x):
    if pd.isna(x):
        return 1900.0  
    else:
        return x

data['Product_price'] = data['Product_price'].apply(Product_price_fill)

In [21]:
import pandas as pd

def Revenue_fill(x):
    if pd.isna(x):
        return 1900.0  
    else:
        return x

data['Revenue'] = data['Revenue'].apply(Revenue_fill)

In [22]:
data

,chat_started,chat_ended,Active_day,Sell_complete,Chat_time,Share_image,Share_PDF,Share_link,Voice_message,Product,Product_price,Revenue,chat_started_days,chat_ended_days,chats_week_day,chats_end_week_day,chat_started_day_num
0,21/08/2022,05/09/2022,Thursday,No,13,Yes,No,No,No,Rubí,1900.0,1900.0,232,246,0,1,4
1,14/07/2022,19/07/2022,Monday,No,41,Yes,No,Yes,Yes,Rubí,1900.0,1900.0,194,199,4,2,1
2,29/12/2022,09/01/2023,Monday,Yes,47,Yes,No,Yes,Yes,Rubí,1900.0,1900.0,362,373,4,1,1
3,9/10/2022,5/11/2022,Friday,Yes,42,Yes,No,Yes,Yes,Diamante,2800.0,2800.0,281,307,0,6,5
4,19/08/2022,04/09/2022,Thursday,Yes,46,Yes,Yes,No,Yes,Rubí,1900.0,1900.0,230,245,5,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164,21/10/2022,31/10/2022,Thursday,Yes,51,Yes,No,No,No,Diamante,2800.0,2800.0,293,303,5,1,4
165,10/12/2022,31/12/2022,Tuesday,Yes,26,Yes,Yes,Yes,Yes,Rubí,1900.0,1900.0,343,364,6,6,2
166,30/07/2022,07/08/2022,Friday,Yes,49,Yes,Yes,Yes,Yes,Rubí,1900.0,1900.0,210,218,6,0,5
167,14/07/2022,19/07/2022,Friday,Yes,56,No,Yes,Yes,No,Rubí,1900.0,1900.0,194,199,4,2,5
168,27/09/2022,25/10/2022,Friday,Yes,31,Yes,Yes,Yes,Yes,Rubí,1900.0,1900.0,268,297,2,2,5

In [23]:
#Standardize column names
Data_cols = data.columns.tolist()
New_cols = [column.lower().replace(' ', '_') for column in Data_cols]
data.columns = New_cols

print(data.columns)

Index(['chat_started', 'chat_ended', 'active_day', 'sell_complete',
       'chat_time', 'share_image', 'share_pdf', 'share_link', 'voice_message',
       'product', 'product_price', 'revenue', 'chat_started_days',
       'chat_ended_days', 'chats_week_day', 'chats_end_week_day',
       'chat_started_day_num'],
      dtype='object')

In [24]:
new_column_order = ['chat_started','chat_started_days','chat_started_day_num','chat_ended','chats_end_week_day','chat_ended_days','active_day','chats_week_day','sell_complete','chat_time','share_image','share_pdf','share_link','voice_message','product','product_price','revenue']

data = data.reindex(columns=new_column_order)

data = data[new_column_order]

data

,chat_started,chat_started_days,chat_started_day_num,chat_ended,chats_end_week_day,chat_ended_days,active_day,chats_week_day,sell_complete,chat_time,share_image,share_pdf,share_link,voice_message,product,product_price,revenue
0,21/08/2022,232,4,05/09/2022,1,246,Thursday,0,No,13,Yes,No,No,No,Rubí,1900.0,1900.0
1,14/07/2022,194,1,19/07/2022,2,199,Monday,4,No,41,Yes,No,Yes,Yes,Rubí,1900.0,1900.0
2,29/12/2022,362,1,09/01/2023,1,373,Monday,4,Yes,47,Yes,No,Yes,Yes,Rubí,1900.0,1900.0
3,9/10/2022,281,5,5/11/2022,6,307,Friday,0,Yes,42,Yes,No,Yes,Yes,Diamante,2800.0,2800.0
4,19/08/2022,230,4,04/09/2022,0,245,Thursday,5,Yes,46,Yes,Yes,No,Yes,Rubí,1900.0,1900.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164,21/10/2022,293,4,31/10/2022,1,303,Thursday,5,Yes,51,Yes,No,No,No,Diamante,2800.0,2800.0
165,10/12/2022,343,2,31/12/2022,6,364,Tuesday,6,Yes,26,Yes,Yes,Yes,Yes,Rubí,1900.0,1900.0
166,30/07/2022,210,5,07/08/2022,0,218,Friday,6,Yes,49,Yes,Yes,Yes,Yes,Rubí,1900.0,1900.0
167,14/07/2022,194,5,19/07/2022,2,199,Friday,4,Yes,56,No,Yes,Yes,No,Rubí,1900.0,1900.0
168,27/09/2022,268,5,25/10/2022,2,297,Friday,2,Yes,31,Yes,Yes,Yes,Yes,Rubí,1900.0,1900.0

In [25]:
#save my new database

data.to_csv('LIA _Whatsapp _statistics_clean.csv', index=False)

# CONNECT MYSQL TO THE DATABASE

In [26]:
import pymysql                        
from sqlalchemy import create_engine  
from getpass import getpass

In [27]:
password = getpass()

········

In [28]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/lia_wh'
engine = create_engine(connection_string)

In [29]:
data.to_sql(name = 'lia_wh', con = engine, if_exists = 'replace', index = False)

169