In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv('LIA -Facebook - statistics - DA.csv')
display(data.shape)
data.head(10)

(184, 11)

,Date,Daily_followers,Total_followers,Posts_reach,Share,Impressions,Clicks,Reactions,Direct Messages,Positive Comments,Negative Comment
0,01-07-2022,85,6589,3506,83,19276.0,80.0,HAHA,21,285,87
1,02-07-2022,35,6624,2957,211,5201.0,509.0,Sad,26,295,93
2,03-07-2022,89,6713,3611,117,15283.0,208.0,Like,18,317,94
3,04-07-2022,76,6789,2353,288,8048.0,115.0,Care,32,324,99
4,05-07-2022,50,6839,3498,294,17463.0,79.0,Like,21,364,102
5,06-07-2022,81,6920,4265,62,4675.0,138.0,Care,34,379,107
6,07-07-2022,77,6997,2163,100,13197.0,264.0,#¡NÚM!,12,380,113
7,08-07-2022,57,7054,807,117,4887.0,408.0,Love,39,406,115
8,09-07-2022,73,7127,3868,335,8046.0,123.0,Love,9,438,118
9,10-07-2022,94,7221,4154,197,1838.0,462.0,Like,41,457,124

In [2]:
#Check type
data.dtypes

Date                  object
Daily_followers        int64
Total_followers        int64
Posts_reach            int64
Share                  int64
Impressions          float64
Clicks               float64
Reactions             object
Direct Messages        int64
Positive Comments      int64
Negative Comment       int64
dtype: object

In [3]:
#Check nulls values
data.isna().sum()

Date                 0
Daily_followers      0
Total_followers      0
Posts_reach          0
Share                0
Impressions          1
Clicks               2
Reactions            0
Direct Messages      0
Positive Comments    0
Negative Comment     0
dtype: int64

In [4]:
data.nunique()

Date                 184
Daily_followers       76
Total_followers      184
Posts_reach          179
Share                143
Impressions          183
Clicks               162
Reactions              8
Direct Messages       39
Positive Comments    184
Negative Comment     184
dtype: int64

In [5]:
data.shape

(184, 11)

# What are my cleanning actions

Column | Action
-------|-------
Date | Split by Year, month and day
Date | Drop the column
Impressions  | Drop nulls values & Convert into Int
Clicks  | Drop nulls values & Convert into Int
Reactions |Fill the #NUM value for de mode
Columns | Standardize column names
----| -----

In [6]:
# Split date

import datetime

data['Date'] = pd.to_datetime(data['Date'])
data['Day'] = data['Date'].dt.day
data['Week'] = data['Date'].dt.week
data['Month'] = data['Date'].dt.month

C:\Users\Andrea\AppData\Local\Temp\ipykernel_73040\1394846080.py:5: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  data['Date'] = pd.to_datetime(data['Date'])
C:\Users\Andrea\AppData\Local\Temp\ipykernel_73040\1394846080.py:7: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  data['Week'] = data['Date'].dt.week

In [7]:
# Drop date

data = data.drop(['Date'], axis=1)

In [8]:
# Drop nulls values on Impressions column
data.dropna(subset=['Impressions'], inplace=True)

In [9]:
# Drop nulls values on Clicks column
data.dropna(subset=['Clicks'], inplace=True)

In [10]:
#Confirming that is not more nulls values
data.isna().sum()

Daily_followers      0
Total_followers      0
Posts_reach          0
Share                0
Impressions          0
Clicks               0
Reactions            0
Direct Messages      0
Positive Comments    0
Negative Comment     0
Day                  0
Week                 0
Month                0
dtype: int64

In [11]:
# Convert into Int the Impressions and Clicks columns

data['Impressions'] = data['Impressions'].astype(int)
data['Clicks'] = data['Clicks'].astype(int)

In [12]:
#Check is Impressions and Clicks columns are int
data.dtypes

Daily_followers       int64
Total_followers       int64
Posts_reach           int64
Share                 int64
Impressions           int32
Clicks                int32
Reactions            object
Direct Messages       int64
Positive Comments     int64
Negative Comment      int64
Day                   int64
Week                  int64
Month                 int64
dtype: object

In [13]:
# Review Reactions, so, we have a NUM value that doesn't match with the rest. I'll fill them with the mode.

data['Reactions'].value_counts()

Like      52
Love      28
#¡NÚM!    22
Sad       18
Care      17
HAHA      15
Angry     15
Wow       14
Name: Reactions, dtype: int64

In [14]:
import statistics as stats
reactions_mode = stats.mode(data['Reactions'])
reactions_mode

'Like'

In [15]:
#Reemplacing #¡NÚM! value for Like (It's the mode)

def reactions_mode(x):
    if x == '#¡NÚM!' :
        return 'Like'
    else:
        return x

data['Reactions'] = data['Reactions'].apply(reactions_mode)
data

,Daily_followers,Total_followers,Posts_reach,Share,Impressions,Clicks,Reactions,Direct Messages,Positive Comments,Negative Comment,Day,Week,Month
0,85,6589,3506,83,19276,80,HAHA,21,285,87,7,1,1
1,35,6624,2957,211,5201,509,Sad,26,295,93,7,6,2
2,89,6713,3611,117,15283,208,Like,18,317,94,7,10,3
3,76,6789,2353,288,8048,115,Care,32,324,99,7,14,4
4,50,6839,3498,294,17463,79,Like,21,364,102,7,18,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,95,17492,297,160,16909,101,Love,20,5163,743,27,52,12
180,84,17576,3207,35,11106,125,Wow,45,5176,746,28,52,12
181,29,17605,4032,154,5561,177,Care,27,5221,748,29,52,12
182,84,17689,2856,215,19802,119,HAHA,14,5245,754,30,52,12
183,78,17767,3240,240,6264,201,Love,37,5280,755,31,52,12

In [16]:
data['Reactions'].value_counts()

Like     74
Love     28
Sad      18
Care     17
HAHA     15
Angry    15
Wow      14
Name: Reactions, dtype: int64

In [17]:
#Standardize column names
Data_cols = data.columns.tolist()
New_cols = [column.lower().replace(' ', '_') for column in Data_cols]
data.columns = New_cols

print(data.columns)

Index(['daily_followers', 'total_followers', 'posts_reach', 'share',
       'impressions', 'clicks', 'reactions', 'direct_messages',
       'positive_comments', 'negative_comment', 'day', 'week', 'month'],
      dtype='object')

In [18]:
data

,daily_followers,total_followers,posts_reach,share,impressions,clicks,reactions,direct_messages,positive_comments,negative_comment,day,week,month
0,85,6589,3506,83,19276,80,HAHA,21,285,87,7,1,1
1,35,6624,2957,211,5201,509,Sad,26,295,93,7,6,2
2,89,6713,3611,117,15283,208,Like,18,317,94,7,10,3
3,76,6789,2353,288,8048,115,Care,32,324,99,7,14,4
4,50,6839,3498,294,17463,79,Like,21,364,102,7,18,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,95,17492,297,160,16909,101,Love,20,5163,743,27,52,12
180,84,17576,3207,35,11106,125,Wow,45,5176,746,28,52,12
181,29,17605,4032,154,5561,177,Care,27,5221,748,29,52,12
182,84,17689,2856,215,19802,119,HAHA,14,5245,754,30,52,12
183,78,17767,3240,240,6264,201,Love,37,5280,755,31,52,12

In [19]:
#save my new database

data.to_csv('LIA _Facebook _statistics _clean.csv', index=False)

# CONNECT MYSQL TO THE DATABASE

In [20]:
import pymysql                        
from sqlalchemy import create_engine  
from getpass import getpass

In [21]:
password = getpass()

········

In [22]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/lia_fb'
engine = create_engine(connection_string)

In [23]:
data.to_sql(name = 'lia_fb', con = engine, if_exists = 'replace', index = False)

181